<div ng-include="'components/navbar/navbar.html'"></div>

<div class="row">
  <!-- <div class="page-header">
    <h1>Resume</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="resume in resume" data-ng-href="/#!/resume/{{resume._id}}" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="resume.created | date:'medium'"></span>
        by
        <span data-ng-bind="resume.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="resume.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-hide="!resume.$resolved || resume.length">
    No Resumes yet, why don't you <a href="/#!/resume/create">create one</a>?
  </div> -->
  <div class="jumbotron text-center">
    <div class="col-xs-12">
      <h1>
        Phong Thieu
      </h1>
      <h4 class="col-xs-12">
        Bachelors of Applied Science, Electrical Engineering
      </h4>
      <h4 class="col-xs-12">
        University of Waterloo
      </h4>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <h4>
          <a href="mailto:pthieu@gmail.com">pthieu@gmail.com</a>
        </h4>
      </div>
    </div>
    <!-- <br>
    <div class="row">
      <p>
      Open-Source Full-Stack Solution For MEAN Applications
      </p>
    </div>
    <div class="row">
      <p>
      <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
      </p>
    </div> -->
  </div>
  <div class="col-sm-10 col-sm-offset-1">
    <h1>Experience</h1>
    <table class="table" data-ng-repeat="job in jobs">
      <tbody>
        <tr>
          <td class="noborder col-xs-8 col-md-9">
            <h2 data-ng-bind="job.title"></h2>
            <h3 data-ng-bind="job.company.name"></h3>
            <h4 class="italic"><span data-ng-bind="job.startdate | date:'MMMM yyyy'"></span> to <span data-ng-bind="job.enddate | date:'MMMM yyyy'"></span> | <span data-ng-bind="job.location"></span></h4>
          </td>
          <td class="noborder col-xs-4 col-md-3 vmiddle">
            <img class="img-responsive" data-ng-src="assets/images/resume/{{job.company.logo}}">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <ul>
              <li class="job-description-point" data-ng-repeat="point in job.description">{{point}}</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Copyright &copy; 2015 | 
        <a href="https://twitter.com/ioPhong">@ioPhong</a> |
        <a href="http://www.electricalacademy.com">Electrical Academy</a>
      </p>
  </div>
</footer>