<!-- This is what public user sees when hitting /article -->
<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container article-view">
  <div class="row" ui-view>
    <div class="col-md-12">
      <div ng-repeat="article in articles">
        <div class="col-xs-12 col-sm-6 col-md-4 article-wrapper">
          <div class="article-thumb">
            <img class="img-responsive" ng-src="{{article.image || 'http://dummyimage.com/1280x480/666666/ffffff.png&text='+article.title}}" alt="" />
            <div class="">
              <h6 class="text-muted">Last Updated: {{article.last_updated | date : 'MMMM dd, yyyy hh:mm a'}}</h6>
            </div>
          </div>
          <div class="article-info">
            <h3 class="title"><a ui-sref=".focus({article_stub: article.stub})">{{article.title | limitTo : 120}}</a></h3>
            <!-- <markdown class='javascript' ng-model="article.content" extensions="prettify"></markdown> -->
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-2">
      list of other articles
    </div> -->
  </div>
</div>
<div ng-include="'components/footer/footer.html'"></div>