<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container-fluid main-view">
  <div class="col-sm-9 col-xs-12">
    <div ng-repeat="article in articles" class="col-md-12 article-wrapper">
      <a ng-href="article/{{getArticleFocusDate(article, 'year')}}/{{getArticleFocusDate(article, 'month')}}/{{getArticleFocusDate(article, 'day')}}/{{article.stub}}">
        <h3>{{article.title}}</h3>
        <div class="col-md-12">
          <h5 class="text-muted">Last Updated: {{article.last_updated | date : 'MMMM dd, yyyy hh:mm a'}} by {{article.author.name}}</h5>
        </div>
        <div class="col-md-12 article-image-wrapper">
          <img class="img-responsive" ng-src="{{article.image || 'http://dummyimage.com/1280x480/666666/ffffff.png&text='+article.title}}" alt="" />
        </div>
      </a>
      <markdown class='markdown javascript' ng-model="article.content" extensions="prettify"></markdown>
      <br />
    </div>
  </div>
  <div class="col-sm-3">
    <h3>
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      Search Recent
    </h3>
    <div class="form-group">
      <input type="text" class="form-control" id="article-search" ng-model="fuzzySearchText">
    </div>
    <a ng-href="article/{{article.stub}}" ng-repeat="article in articles | fuzzySearch : fuzzySearchText : 'OR' track by $index">
      <p>{{article.title}}</p>
    </a>
  </div>
</div>
<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div> -->
<div ng-include="'components/footer/footer.html'"></div>
