<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container article-edit-view">
  <div class="row">
    <form class="col-md-12 form-horizontal" ng-submit="createArticle($event)">
      <div class="form-group">
        <h3>Options</h3>
        <label for="site" class="control-label col-sm-1">Site:</label>
        <div class="col-sm-5">
          <select id="site" class="form-control" ng-model="articleSite" ng-options="option.text for option in options.site track by option.value" required></select>
        </div>
        <label for="type" class="control-label col-sm-1">Type:</label>
        <div class="col-sm-5">
          <select id="type" class="form-control" ng-model="articleType" ng-options="option.text for option in options.type track by option.value" required></select>
        </div>
      </div>
      <div class="form-group">
        <h3>Categories:</h3>
        <div>Legend:</div>
        <div class="col-xs-12 margin-bottom-10">
          <span class="label label-primary">Tag exists and already saved</span>
          <span class="label label-warning">Tag exists but not saved</span>
          <span class="label label-danger">Tag not found but added</span>
        </div>
        <!-- <label class="checkbox-inline" ng-repeat="c in options.category">
          <input type="checkbox" ng-checked="articleCategory.indexOf(c.value) > -1" value="{{c.value}}" ng-click="toggleCategory(c.value)">{{c.text}}
        </label> -->
        <!-- <input type="text" class="form-control" ng-model="articleCategory"> -->
        <div>Tags:</div>
        <category-look-ahead suggested-tags="options.category" selected-tags="articleCategory"></category-look-ahead>
      </div>
      <div class="form-group">
        <h3>Title:</h3>
        <div class="col-xs-12">
          <input type="text" class="form-control" ng-model="articleTitle" required>
        </div>
      </div>
      <div class="form-group">
        <h3>Image</h3>
        <div class="col-xs-12">
          <input type="text" class="form-control" ng-model="articleImage" required>
          <img class="img-responsive img-preview" ng-src="{{articleImage}}" alt="" />
        </div>
      </div>
      <div class="form-group">
        <h3>Content:</h3>
        <div class="col-xs-12">
          <textarea type="text" class="form-control" rows="5" ng-model="articleContent" required></textarea>
          <!-- note, to use ng-bind/ng-model with btf-markdown, have to use attr and not element for directive -->
        </div>
      </div>
      <div class="form-group text-right">
        <div class="col-xs-12">
          <button class="btn btn-primary" ng-click="$location.path('article/dashboard')">Cancel</button>
          <button class="btn btn-primary" type="submit">{{!articleID?'Create':'Update'}}</button>
          <div class="has-error" ng-show="errors.other">
            <p class="help-block">{{ errors.other }}</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <h3>Preview:</h3>
        <div class="col-xs-12">
          <h1 ng-bind="articleTitle"></h1>
          <markdown class='javascript' ng-model="articleContent" extensions="prettify"></markdown>
        </div>
      </div>
      <div class="form-group text-right">
        <div class="col-xs-12">
          <button class="btn btn-primary" ng-click="$location.path('article/dashboard')">Cancel</button>
          <button class="btn btn-primary" type="submit">{{!articleID?'Create':'Update'}}</button>
          <div class="has-error" ng-show="errors.other">
            <p class="help-block">{{ errors.other }}</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
