<div class="category-lookahead-directive">
  <div class="col-xs-12 margin-bottom-10 selected-tags-wrapper">
    <div ng-repeat="tag in selectedTags" class="selected-tag">
      <span class="label label-primary" ng-class="{
        'label-warning': (newTags.indexOf(tag) > -1),
        'label-danger': (unknownTags.indexOf(tag) > -1),
        'label-success': (
          searchText === tag) || (
            selectedIndex > -1 &&
            selectedTags.indexOf(filteredSuggestedTags[selectedIndex]) === $index
          )
      }" ng-click="removeFromSelectedTags(tag)"><span class="vmiddle">{{tag}}</span><span class="glyphicon glyphicon-remove vmiddle"></span></span>
    </div>
  </div>
  <div class="col-xs-12">
    <input type="text" class="form-control" placeholder="Apply Tags" ng-keydown="checkKeyDown($event)" ng-change="filterTags()" ng-model="searchText">
  </div>
  <div ng-show="searchText.length>0" class="col-xs-12">
    <div class="suggested-tag-wrapper"> <!-- wrapper for tag, should be entire tag list-->
      <div class="suggested-tag" ng-repeat="tag in filteredSuggestedTags" ng-class="{'active': $index === selectedIndex, 'exists': tag === searchText || selectedTags.indexOf(tag) > -1}">
        <span>{{tag}}</span><span class="glyphicon glyphicon-ok" ng-show="selectedTags.indexOf(tag) > -1"></span>
      </div>
    </div>
  </div>
</div>