<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container-fluid main-view">
  <div class="col-md-3">
    <script type="text/ng-template" id="nodes_renderer.html">
      <div ui-tree-handle>
        <a ui-sref=".focus({lesson_stub: lesson.lessonRef})">
          {{lesson.title}}
        </a>
      </div>
      <ol ui-tree-nodes="" ng-model="lesson.children">
          <li ng-repeat="lesson in lesson.children" ui-tree-node ng-include="'nodes_renderer.html'">
          </li>
      </ol>
    </script>
    <div ui-tree data-drag-enabled="false" data-drop-enabled="false">
      <ol ui-tree-nodes="" ng-model="lessonList" id="tree-root">
        <h4><a ui-sref="lesson">Announcements</a></h4>
        <li ng-repeat="lesson in lessonList" ui-tree-node ng-include="'nodes_renderer.html'"></li>
      </ol>
    </div>
  </div>
  <div class="col-md-9">
    <ui-view>
      <div ng-include="'app/landing/landing.html'"></div>
    </ui-view>
  </div>
</div>
<div ng-include="'components/footer/footer.html'"></div>
