<!-- This is the summary page for all the lessons, which should have edit options -->
<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container lesson-dashboard-view">
  <div class="col-sm-9">
    <div ng-repeat="lesson in lessons | fuzzySearch : fuzzySearchText : 'OR' track by $index">
      <div class="col-sm-12">
        <div class="row">
          <h3 class="lesson-title"><a ng-href="lessonEdit/edit/{{lesson._id}}">{{lesson.title}}</a></h3>
        </div>
        <markdown class='javascript' ng-model="lesson.content" extensions="prettify"></markdown>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="col-sm-12">
      <button class="btn btn-primary" ng-click="$location.url('/lessonEdit/edit')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Lesson</button>
    </div>
    <div class="col-sm-12">
      <h3>
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        Search Lessons
      </h3>
      <div class="form-group">
        <input type="text" class="form-control" id="lesson-search" ng-model="fuzzySearchText">
      </div>
    </div>
  </div>
</div>